* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #8a51fc;
}

.logo {
  width: 241px;
  height: 217px;
  margin: 20px auto;
  display: block;

}

.Principal {
  width: 375px;
  border-radius: 20px;
  background: #f4f4f4;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 24px 24px 23px 23px;
}

.in1 {
  width: 327px;
  height: 48px;
  border-radius: 5px;
  border: #bbbbbb solid 1px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 6px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  appearance: none;
  color: #555555;
  padding-left: 16px;
}

.in2 {
  width: 327px;
  height: 48px;
  border-radius: 5px;
  border: #bbbbbb solid 1px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 6px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  appearance: none;
  color: #555555;
  padding-left: 16px;
}

.in3 {
  width: 327px;
  height: 48px;
  border-radius: 5px;
  border: #bbbbbb solid 1px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 6px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 16px;
}

.converter {
  padding-top: 23px;
}

.para {
  padding-top: 24px;
}

.valor {
  padding-top: 24px;
}

h3 {
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-weight: 400;
  color: #777777;
  font-size: 14px;
}

span {
  font-weight: 700;
}

button {
  width: 327px;
  height: 48px;
  background-color: #772fd3;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 23px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.boximg {
  border: #8a51fc solid 1px;
  border-radius: 20px;
  margin-top: 36px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.img3 {
  margin: 15px 0;
}

h1 {
  font-size: 20px;
  color: #555555;
  font-weight: 700;
}

p {
  font-size: 14px;
  color: #555555;
  font-weight: 400;

}


@media screen and (max-width: 600px) {
  
  body{
    background: white;
  }
  
  .logo{
    display: none;
  }

  .Principal{
    background: none;
    margin-bottom: -20px;
    padding: 29px 13px 5px 17px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .Principal{
    padding: 29px 13px 5px 17px;
    margin-left: 0px;
  }
}